//colors

$color-orange: #f9804b;
$color-yellow: #ffee2e;
$color-section-background: #fed290;
$color-pink-gradient: #febdab;
$color-red: #d31414;
$color-text: #333b41;
$color-gray: #767474;
$color-gray-smokie: #767474;
$color-gray-light: #f1f3f2;
$color-white: #fdfdff;
$color-button-hover: #e47209;
$color-active: #4b9200;

$content-width: 1220px;

$font-family: "Roboto", sans-serif;
