@import "abstracts/variables.scss";
@import "abstracts//mixins";

@import "layouts/container";

//base
@import "base/base";
@import "base/buttons";
@import "base/logo";

@import "layouts/header";

//sections

@import "sections/watch";
@import "sections/backstage";
@import "sections/pets";
@import "sections/feed";

html {
  ::-webkit-scrollbar {
    width: 0;
  }
}

.background-flower {
  top: 792px;
  right: 0;
  position: absolute;
  width: 200px;
  height: 605px;

  background: url(../images/background_flower.png) no-repeat;
}
